body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background: linear-gradient(to left, #150525, #ce1515);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calci {
    width: 500px;
    padding: 100px 0;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s;
}

#zero {
    height: 55px;
    width: 116px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
    background: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

#zero:hover {
    background: #e0f7ff;
    box-shadow: 0 0 10px #00e6ff;
}

#display {
    border: none;
    background: white;
    border-radius: 30px;
    width: 245px;
    font-size: 20px;
    font-weight: 400;
    height: 60px;
    margin: auto;
    padding: 0 15px;
    border: 2px solid rgba(5, 218, 255, 0.726);
    color: black;
    text-align: right;
    box-shadow: 0 0 10px #00e6ff inset;
}

.button, .operator {
    width: 55px;
    height: 55px;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 30px;
    margin: 6px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover, .operator:hover {
    background: #00d9ff;
    box-shadow: 0 0 10px #00e6ff;
}

h1 {
    margin-top: 300px;
    margin-left: 100px;
    font-size: 50px;
    text-decoration: underline;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    color: white;
    margin-top: -10px;
    margin-left: 438px;
    font-size: 20px;
    text-decoration: underline;
}
